.boards {
  width: auto;
  padding: 24px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

  // style scrollbar
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #000;
  }

  &::-webkit-scrollbar {
    width: 3px;
    background-color: #000;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
    border: 2px solid #555;
  }

  .handle {
    position: relative;
    top: 5px;
    left: 0;
    cursor: move;
  }
}

// assign styles to board on drag
.cdk-drag-placeholder {
  opacity: 0.2;
  width: auto;
  border: 5px dashed gray;
  margin: 0 10px;
}

// animation on drop
.cdk-drag-animating {
  transition: transform 300ms ease;
}

// animate when board changing positions on drag
.boards.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

// style create board button
.board-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px gray dashed;
  width: 300px;
  padding: 32px;
  height: 350px;
}

