main {
  // 64px - height of navbar
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 2rem;
}

.google-logo {
  height: 25px;
  width: 25px;
  margin-right: 1em;
}